.condition-list{line-height:32px;margin-bottom:10px;}
.condition-list-small{line-height:26px;margin-bottom:5px;}
.condition-title{display:inline-block;margin-right:5px;}
.condition-label{display:inline-block;margin:0 10px 0 0;}